html  {
  /*background: url(http://wallpapercave.com/wp/0HHmUnQ.jpg) no-repeat center center fixed;
  background-size: cover;*/
}

header  {
  display: block;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: DeepSkyBlue;
  z-index: 1;
}

.topBanner  {
  font-family: Papyrus;
}

.mainTitle  {
  width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10%;
  padding: 0px;
}

.searchInput {
  display: inline-block;
  width: 300px;
  height: 40px;
  font-size: 14px;
}

.fa-search {
  margin-left: 10px;
}

#searchButton {
  height: inherit;
  border-radius: 10px;
}

.mainContain  {
  display: block;
  max-width: 1001px;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding-top: 100px;
}

main .row {
  margin-bottom: 20px;
}

.js-query-display {
  display: block;
  border: 3px solid grey;
  border-radius: 10px;
}
.viewer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

video {
  border: 5px dotted black;
}
.thumbnailBox {
  display: block;
  position: relative;
  background-color: DarkSlateGrey;
  background-repeat: no-repeat;
  margin-top: 20px;
}

.thumbnail {
  width: 100%;
}

.thumbnailLabel  {
  display: block;
  background-color: white;
  opacity: 0.7;
  position: relative;
  width: 100%;
  height: 20%;
  text-align: left;
  padding: 5px 20px;
}

.cardText, .cardName  {
  font-family: 'Roboto Condensed', sans-serif;
  text-indent: 40px;
  text-align: left;
 /* padding: 20px;
  padding-top: 20px;*/
}

.cardName {
  font-weight: 900;
  font-size: 22px;
}

.cardText {
  font-size: 14px;
}

.hidden {
  display: none;
}
